.image1{
    margin: auto;
    color: aliceblue;
    border: 0cap;
    border-radius: 15%;
    padding: auto;
}
.image2{
    margin: auto;
    color: aliceblue;
    border: 0cap;
    border-radius: 15%;
    padding: auto;
}
.image3{
    margin: auto;
    color: aliceblue;
    border: 0cap;
    border-radius: 15%;
    padding: auto;
}